body {
    background-color: navy;
}

.center-box {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
}

.center-item {
    background-color: bisque;
    width: 100px;
    height: 100px;
    margin-top: 50px;
}
